
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.title h4{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
#image{
    min-height: 140px;
    min-width: 140px;
    margin-top: 10px;
    display: none;
}
#image.display{
    display: block;
}